html {
  background-color: #272b2e;
  font-family: sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 5px solid #04d9ff;
  border-top: none;
  border-radius: 0 0 10px 10px;
  margin-top: -11px;
}

a {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}

h1 {
  font-size: 4em;
  color: violet;
}

h2 {
  font-size: 2.5em;
  color: #D7FF04;
}

p {
  color: #D7FF04;
  font-size: 1.5em;
}

img {
  border-radius: 10px;
  max-width: 800px;
}

#homeButton {
  display: flex;
  justify-content: center;
  width: 20%;
}

.headerButton {
  color: #04d9ff;
}

.headerButton:hover {
  color: orange;
  text-decoration: underline;
}

#headerDiv {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

#introDiv {
  background-color: yellow;
  padding: 1px 0px 1px 20px;
  border-radius: 10px 10px 0 0;
  margin-top: 75px
}

#caroDiv {
  padding: 200px;
  border: 5px dotted yellow;
  border-top: none;
  border-radius: 0 0 15px 15px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: yellow;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: pink;
}

#aboutMe {
  display: flex;
  flex-direction: column;
  border: 5px dashed pink;
  margin-top: 75px;
  padding: 20px;
  border-radius: 15px;
}

#aboutTitle {
  padding: 0 20px;
}

#picAndIntro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.workLink {
  color: pink;
  background-color: #D7FF04;
  padding: 10px;
  border-radius: 5px;
}

.workLink:hover {
  color: #D7FF04;
  background-color: pink;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
  color: pink;
}
