html {
    background-color: black;
    font-family: sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    min-width: 800px;
  }
  
  h1 {
    color: white;
    margin-bottom: -15px;
  }
  
  h3 {
    color: skyblue;
    font-weight: normal;
    font-style: italic;
  }
  
  a {
    color: skyblue;
    text-decoration: none;
    font-size: 1.3em;
    margin: 30px;
  }
  
  a:visted {
    text-decoration: none;
  }

  a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  a:active {
    text-decoration: none;
    color: white;
  }
  
  p {
    color: darkgrey;
  }
  
  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 30px;
  }
  
  .introBio {
    margin: 30px;
  }

  @media only screen and (max-width: 600px) {
    .navBar {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }
  }